.number-glencor{
    font-size: 2.5em;
}
#video-background {
    /*  making the video fullscreen  */
      position: absolute;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }

#eight{
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.map{
    display: absolute;
    margin: 5% 0 5%;
    flex-direction: column-reverse;
    text-align: center;
}

.map-left, .map-right{
    display: flex;
    justify-content: center;
}

.map-right{
    flex-direction: column;
}

no-after:after{
    background: transparent;
}

@media (max-width: 575.98px){
    #map-res{
        width: 300px;
    }
}